:root {
    /* color */
  --primary-color: #1a1b1b;
  --secondary-color: #D4D4D4;
  --title-color: #0B3462;
  /* font family */
  --primary-font-family: "Urbanist", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  overflow-x: hidden;
}

/* HEADER ------------------------------------------------------------*/

header {
  position: fixed;
  width: 100%;
  height: 47px;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-button {
  background: none;
  padding: 0;
  height: 47px;
  border: none;
  padding: 0;
}

.nav-button img{
  padding: 18px 16px;
  background: #006CE5;
}

.menu-left {
  display: flex;
  height: 47px;
  align-items: center;
  margin: 0;
  gap: 24px;
}

.logo-link img {
  width: 103px;
  height: 29px;
}

.nav {
  display: none;
}

.nav-live {
  padding: 9px 8px;
  margin: 0;
}

/* MAIN ------------------------------------------------------------*/

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 91px 8px 0;
}

.main-info {
  color: var(--primary-color);
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 12px;
  }

.main-title {
  color: var(--primary-color);
  width: 100%;
  font-size: 54px;
  font-weight: 600;
  line-height: 59px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--secondary-color);
}

.main-topics {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-top: 32px;
}

.topic-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}

.topic-image {
  width: 100%;
  height: 416px;
  background: url("../images/image1.png") no-repeat center center;
  background-size: cover;
  position: relative;
  margin-bottom: 16px;
}

.topic-image::before {
  content: "Poland";
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  padding: 10px 20px 10px 0px;
  background: #FFF;
  color: var(--title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.topic-block p {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  word-wrap: wrap;
  align-items: center;
}

.subtopic-block {
  display: flex;
  flex-direction: column;
}

.subtopic-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.subtopic-img img,
.subtopic-img.second img,
.more-about-img img,
.more-about-img.second img {
  width: 359px;
  height: 166px;
}

.subtopic-img.second {
  position: relative;
}

.subtopic-img.second::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: url("../images/play.png");
}

.subtopic-head {
  margin-bottom: 24px;
}

.subtopic-head p {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.subtopic-head h3 {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  padding: 10px 20px 10px 0px;
}

.line {
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  margin-bottom: 24px;
}

.main-line {
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  margin: 8px 0 32px;
}

.more-about {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.more-about h2 {
  color: var(--primary-color);
  font-size: 34px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 32px;
}

.more-about-img img {
  align-items: flex-start;
}

.more-about-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.more-about-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: flex-start;
}

.more-about-img.second {
  position: relative;
}

.more-about-img.second::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: url("../images/play.png");
}

.more-about-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.more-about-head {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.more-about-head h3 {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.more-about-head p {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.more-about-info,
.footer-container p {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.more-about-data {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
}

.pagination-block {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.next {
  display: none;
}

.tag-block {
  width: 100%;
  height: 274px;
  border-top: 3px solid #D4D4D4;
  background: #EEF2F3;
}

.search-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 44px 8px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 27px 32px 27px;
}

.search-form input {
  background: #DCE4E7;
  display: flex;
  width: 306px;
  padding: 10px;
  border: 0;
}

.search-form img {
  padding: 10px;
  background: #006CE5;
}

.search-form::placeholder {
  color: #919191;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.icon-tag {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.icon-tag p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
}

.tag-container {
  display: flex;
  flex-direction: column;
}


.main-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag  p {
  border-radius: 800px;
  background: #FFF; 
  padding: 8px 16px;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 360px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* FOOTER ------------------------------------------------------------*/

.footer {
  width: 100%;
  display: flex;
  height: 133px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 91px 24px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-container img {
  width: 154px;
  height: 42px;
}


/* SCREEN 768px ------------------------------------------------------------*/
@media (min-width: 768px) {
  
  /* HEADER ------------------------------------------------------------*/

  header {
    height: 47px;
  }

  .nav-live {
    padding: 9px 12px;
  }

  .logo-link img {
    width: 114px;
    height: 32px;
  }

/* MAIN ------------------------------------------------------------*/
.main-container {
  padding: 79px 12px 0;
}

.main-info {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 4px;
  }

.main-title {
  font-size: 62px;
  font-weight: 600;
  line-height: 68px;
  padding-bottom: 4px;
}

.main-topics {
  flex-direction: column;
}

.topic-block {
  margin-bottom: 32px;
}

.topic-block p {
  font-size: 28px;
  line-height: 30px;
}

.subtopic-img img,
.subtopic-img.second img,
.more-about-img img,
.more-about-img.second img {
  width: 296px;
  height: 166px;
}

.subtopic-info {
  flex-direction: row;
  gap: 24px;
  margin-bottom: 16px;
}

.subtopic-head {
  flex-direction: column;
  margin-bottom: 0;
  gap: 10px;
}

.line {
  margin-bottom: 16px;
}

.main-line {
  margin: 40px 0 32px;
}

.more-about h2 {
  font-size: 42px;
  line-height: 46px;
}

.more-about-post {
  flex-direction: row;
  gap: 24px;
}

.next {
  display: block;
}

.search-tag {
  padding: 44px 121px;
}

.search-form {
  margin: 0 110px 32px 110px;
}

.tag {
  width: 526px;
}

/* FOOTER ------------------------------------------------------------*/

.footer {
  height: 193px;
  padding: 48px 286px;
}

.footer-container {
  gap: 24px;
}

.footer-container img {
  width: 196px;
  height: 54px;
}

}


/* SCREEN 1368px ------------------------------------------------------------*/
@media (min-width: 1368px) {

/* HEADER */

header {
  height: 60px;
}

.nav-button {
  display: none;
}

.menu-left {
  height: 32px;
}

.nav {
  display: block;
}

.menu-list {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}

.menu-list a {
  text-decoration: none;
  cursor: default;
  white-space: nowrap;
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.header-container {
  margin: 14px 36px;
}

.nav-live {
  padding: 0;
}

/* MAIN ------------------------------------------------------------*/
.main-container {
  padding: 108px 36px 0;
}

.main-info {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 4px;
  }

.main-title {
  font-size: 62px;
  line-height: 68px;
  padding-bottom: 4px;
}

.main-topics {
  flex-direction: row;
  margin-bottom: 56px;
  gap: 24px;
}

.topic-block {
  width: 746px;
  margin-bottom: 0;
}

.topic-image img {
  width: 746px;
  height: 418px;
  margin-bottom: 16px;
}

.subtopic-img img,
.subtopic-img.second img{
  width: 196px;
  height: 110px;
}

.topic-block p {
  font-size: 28px;
  line-height: 30px;
  word-wrap: wrap;
}

.subtopic-info {
  flex-direction: row;
  gap: 24px;
  margin-bottom: 32px;
}

.subtopic-head {
  margin-bottom: 0;
  gap: 0;
}

.line {
  margin-bottom: 32px;
}

.main-line {
  margin: 0 0 56px;
}

.more-about-img img,
.more-about-img.second img {
  width: 306px;
  height: 172px;
}

.more-about {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
  margin-right: 36px;
}

.more-about h2 {
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 0;
  white-space: nowrap;
  margin-right: 36px;
}

.more-about-post {
  gap: 24px;
}

.pagination-block {
  margin-bottom: 40px;
}

.next {
  display: block;
}

.search-tag {
  padding: 48px 420px 40px;
}

.search-form {
  margin: 0 110px 32px 110px;
}

.tag {
  width: 526px;
}


/* FOOTER ------------------------------------------------------------*/

.footer {
  height: 177px;
  padding: 40px 586px;
}

.footer-container {
  gap: 24px;
}

.footer-container img {
  width: 196px;
  height: 54px;
}

}
